In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

Caleigh Patterson, Eric Chase, Adam Messina

In [2]:
# 1. Show the first five rows of you DF
df_iowa = pd.read_csv("iowa.zip")
df_iowa.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-33202600018,01/04/2021,5336,Express Mart,4804 S Highway 61,Muscatine,52761.0,NaN,70.0,MUSCATINE,1081200,Cream Liqueurs,305.0,Mhw LTD,73055,Rumchata,12,750,13.50,20.25,3,60.75,2.25,0.59
1,INV-33190700004,01/04/2021,5650,The Depot Williamsburg,103 Highland St,Williamsburg,52361.0,NaN,48.0,IOWA,1012100,Canadian Whiskies,260.0,DIAGEO AMERICAS,10803,Crown Royal Regal Apple Mini,10,50,7.35,11.03,4,44.12,0.20,0.05
2,INV-33169600155,01/04/2021,2528,Hy-Vee Food Store #3 / Des Moines,3221 SE 14th St,Des Moines,50315.0,NaN,77.0,POLK,1022200,100% Agave Tequila,255.0,Infinium Spirits,89242,Corralejo Reposado,6,750,16.00,24.00,6,144.00,4.50,1.18
3,INV-33174300034,01/04/2021,5347,Kum & Go #1097 / 50th WDM,220 50th St,West Des Moines,50265.0,POINT (-93.770919 41.572085),77.0,POLK,1012100,Canadian Whiskies,259.0,Heaven Hill Brands,11771,Black Velvet Mini,8,50,8.50,12.75,3,38.25,0.15,0.03
4,INV-33194400030,01/04/2021,4070,Grieder Beverage Depot,708 13th St,Belle Plaine,52208.0,POINT (-92.278 41.897054),6.0,BENTON,1051100,American Brandies,434.0,LUXCO INC,54448,Paramount Apricot Brandy,6,1750,11.29,16.94,3,50.82,5.25,1.38

In [3]:
#1. Change Column Names
df_iowa.columns = df_iowa.columns.str.replace(' ', '_')
df_iowa.rename(columns = {'Bottle_Volume_(ml)':'Volume_ml'}, inplace = True)
df_iowa.rename(columns = {'Sale_(Dollars)':'Sales'}, inplace = True)
df_iowa.rename(columns = {'Volume_Sold_(Liters)':'Liters_Sold'}, inplace = True)
df_iowa.rename(columns = {'Volume_Sold_(Gallons)':'Gallons_Sold'}, inplace = True)
df_iowa.rename(columns = {'Invoice/Item_Number': 'Invoice'}, inplace = True)
df_iowa.columns

Index(['Invoice', 'Date', 'Store_Number', 'Store_Name', 'Address', 'City',
       'Zip_Code', 'Store_Location', 'County_Number', 'County', 'Category',
       'Category_Name', 'Vendor_Number', 'Vendor_Name', 'Item_Number',
       'Item_Description', 'Pack', 'Volume_ml', 'State_Bottle_Cost',
       'State_Bottle_Retail', 'Bottles_Sold', 'Sales', 'Liters_Sold',
       'Gallons_Sold'],
      dtype='object')

In [4]:
#1. Show data types
df_iowa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616459 entries, 0 to 616458
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Invoice              616459 non-null  object
 1   Date                 616459 non-null  object
 2   Store_Number         616459 non-null  int64
 3   Store_Name           616459 non-null  object
 4   Address              616394 non-null  object
 5   City                 616394 non-null  object
 6   Zip_Code             616394 non-null  float64
 7   Store_Location       557910 non-null  object
 8   County_Number        616394 non-null  float64
 9   County               616394 non-null  object
 10  Category             616459 non-null  int64
 11  Category_Name        616459 non-null  object
 12  Vendor_Number        616456 non-null  float64
 13  Vendor_Name          616456 non-null  object
 14  Item_Number          616459 non-null  int64
 15  Item_Description     616459 non-null  object
 16  Pack                 616459 non-null  int64
 17  Volume_ml            616459 non-null  int64
 18  State_Bottle_Cost    616459 non-null  float64
 19  State_Bottle_Retail  616459 non-null  float64
 20  Bottles_Sold         616459 non-null  int64
 21  Sales                616459 non-null  float64
 22  Liters_Sold          616459 non-null  float64
 23  Gallons_Sold         616459 non-null  float64
dtypes: float64(8), int64(6), object(10)
memory usage: 112.9+ MB

In [5]:
#1. Change data types

# Convert Date to DateTime
df_iowa['Date'] = df_iowa.Date.astype('datetime64')
# Convert Zip_Code to String
df_iowa.Zip_Code = df_iowa.Zip_Code.astype('str').str.split('.').str[0]
#Convert Country_Number to string
df_iowa.County_Number = df_iowa.County_Number.astype('str').str.split('.').str[0]
#Convert Vendor_Number to string 
df_iowa.Vendor_Number = df_iowa.Vendor_Number.astype('str').str.split('.').str[0]
#Convert Item_Number to string
df_iowa.Item_Number = df_iowa.Item_Number.astype('str')
#Convert Category to string
df_iowa.Category = df_iowa.Category.astype('str')

df_iowa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616459 entries, 0 to 616458
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Invoice              616459 non-null  object
 1   Date                 616459 non-null  datetime64[ns]
 2   Store_Number         616459 non-null  int64
 3   Store_Name           616459 non-null  object
 4   Address              616394 non-null  object
 5   City                 616394 non-null  object
 6   Zip_Code             616459 non-null  object
 7   Store_Location       557910 non-null  object
 8   County_Number        616459 non-null  object
 9   County               616394 non-null  object
 10  Category             616459 non-null  object
 11  Category_Name        616459 non-null  object
 12  Vendor_Number        616459 non-null  object
 13  Vendor_Name          616456 non-null  object
 14  Item_Number          616459 non-null  object
 15  Item_Description     616459 non-null  object
 16  Pack                 616459 non-null  int64
 17  Volume_ml            616459 non-null  int64
 18  State_Bottle_Cost    616459 non-null  float64
 19  State_Bottle_Retail  616459 non-null  float64
 20  Bottles_Sold         616459 non-null  int64
 21  Sales                616459 non-null  float64
 22  Liters_Sold          616459 non-null  float64
 23  Gallons_Sold         616459 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(4), object(14)
memory usage: 112.9+ MB

In [6]:
#1. show how many rows and columns 
df_iowa.shape

(616459, 24)

In [7]:
#2. Clean the data show the total number of null values for each column 
df_iowa.isnull().sum()

Invoice                    0
Date                       0
Store_Number               0
Store_Name                 0
Address                   65
City                      65
Zip_Code                   0
Store_Location         58549
County_Number              0
County                    65
Category                   0
Category_Name              0
Vendor_Number              0
Vendor_Name                3
Item_Number                0
Item_Description           0
Pack                       0
Volume_ml                  0
State_Bottle_Cost          0
State_Bottle_Retail        0
Bottles_Sold               0
Sales                      0
Liters_Sold                0
Gallons_Sold               0
dtype: int64

In [8]:
#2. Drop one of the columns based on null values
df_iowa = df_iowa.drop(['Store_Location'], axis = 1)
df_iowa.isnull().sum()

Invoice                 0
Date                    0
Store_Number            0
Store_Name              0
Address                65
City                   65
Zip_Code                0
County_Number           0
County                 65
Category                0
Category_Name           0
Vendor_Number           0
Vendor_Name             3
Item_Number             0
Item_Description        0
Pack                    0
Volume_ml               0
State_Bottle_Cost       0
State_Bottle_Retail     0
Bottles_Sold            0
Sales                   0
Liters_Sold             0
Gallons_Sold            0
dtype: int64

In [9]:
#2. Drop Rows with null values 
df_iowa = df_iowa.dropna(subset = ['Address', 'Vendor_Number'])
df_iowa.isnull().sum()

Invoice                0
Date                   0
Store_Number           0
Store_Name             0
Address                0
City                   0
Zip_Code               0
County_Number          0
County                 0
Category               0
Category_Name          0
Vendor_Number          0
Vendor_Name            3
Item_Number            0
Item_Description       0
Pack                   0
Volume_ml              0
State_Bottle_Cost      0
State_Bottle_Retail    0
Bottles_Sold           0
Sales                  0
Liters_Sold            0
Gallons_Sold           0
dtype: int64

In [10]:
#3. Make sure there are no duplicates in the Invoice/Item Number column
df_iowa.Invoice.duplicated().sum()
# Invoice/Item_Number can be used as a primary key, because there are no duplicates

0

In [11]:
# 3. Split the Invoice column to only recieve the invoice number
df_iowa.Invoice = df_iowa.Invoice.str.split('-').str[1]
df_iowa

,Invoice,Date,Store_Number,Store_Name,Address,City,Zip_Code,County_Number,County,Category,Category_Name,Vendor_Number,Vendor_Name,Item_Number,Item_Description,Pack,Volume_ml,State_Bottle_Cost,State_Bottle_Retail,Bottles_Sold,Sales,Liters_Sold,Gallons_Sold
0,33202600018,2021-01-04,5336,Express Mart,4804 S Highway 61,Muscatine,52761,70,MUSCATINE,1081200,Cream Liqueurs,305,Mhw LTD,73055,Rumchata,12,750,13.50,20.25,3,60.75,2.25,0.59
1,33190700004,2021-01-04,5650,The Depot Williamsburg,103 Highland St,Williamsburg,52361,48,IOWA,1012100,Canadian Whiskies,260,DIAGEO AMERICAS,10803,Crown Royal Regal Apple Mini,10,50,7.35,11.03,4,44.12,0.20,0.05
2,33169600155,2021-01-04,2528,Hy-Vee Food Store #3 / Des Moines,3221 SE 14th St,Des Moines,50315,77,POLK,1022200,100% Agave Tequila,255,Infinium Spirits,89242,Corralejo Reposado,6,750,16.00,24.00,6,144.00,4.50,1.18
3,33174300034,2021-01-04,5347,Kum & Go #1097 / 50th WDM,220 50th St,West Des Moines,50265,77,POLK,1012100,Canadian Whiskies,259,Heaven Hill Brands,11771,Black Velvet Mini,8,50,8.50,12.75,3,38.25,0.15,0.03
4,33194400030,2021-01-04,4070,Grieder Beverage Depot,708 13th St,Belle Plaine,52208,6,BENTON,1051100,American Brandies,434,LUXCO INC,54448,Paramount Apricot Brandy,6,1750,11.29,16.94,3,50.82,5.25,1.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616454,35472700003,2021-03-31,2601,Hy-Vee Food Store / Fairfield,1300 West Burlington Ave,Fairfield,52556,51,JEFFERSON,1071100,Cocktails /RTD,55,SAZERAC NORTH AMERICA,57181,Chi-Chi''s Pineapple Margarita,6,1750,6.50,9.75,30,247.50,52.50,13.86
616455,35474700004,2021-03-31,2191,Keokuk Spirits,1013 Main,Keokuk,52632,56,LEE,1011100,Blended Whiskies,260,DIAGEO AMERICAS,25607,Seagrams 7 Crown,12,1000,8.00,12.00,12,144.00,12.00,3.17
616456,35479400087,2021-03-31,2605,Hy-Vee Drugstore #5 / Cedar Rapids,2001 Blairs Ferry Road NE,Cedar Rapids,52402,57,LINN,1082200,Imported Schnapps,421,SAZERAC COMPANY INC,69634,Dr McGillicuddys Cherry,24,375,5.33,8.00,6,48.00,2.25,0.59
616457,35471400006,2021-03-31,4315,Fareway Stores #554 / Washington,301 North Marion Ave,Washington,52353,92,WASHINGTON,1011200,Straight Bourbon Whiskies,184,FOUR ROSES DISTILLERY,18352,Four Roses Bourbon,12,750,12.50,18.75,12,213.12,9.00,2.37
616458,35476900009,2021-03-31,5559,W-Mart,1205 & 1207 E Locust St,Davenport,52803,82,SCOTT,1041100,American Dry Gins,370,PERNOD RICARD USA,32232,Seagrams Extra Dry Gin,48,100,0.97,1.46,48,70.08,4.80,1.26

In [12]:
#4. Make a new column that combines Address, City, IA, and Zip Code 
df_iowa['mail_address'] = df_iowa.Address + ', ' + df_iowa.City + ', ' +  'IA, ' + df_iowa.Zip_Code
df_iowa

,Invoice,Date,Store_Number,Store_Name,Address,City,Zip_Code,County_Number,County,Category,Category_Name,Vendor_Number,Vendor_Name,Item_Number,Item_Description,Pack,Volume_ml,State_Bottle_Cost,State_Bottle_Retail,Bottles_Sold,Sales,Liters_Sold,Gallons_Sold,mail_address
0,33202600018,2021-01-04,5336,Express Mart,4804 S Highway 61,Muscatine,52761,70,MUSCATINE,1081200,Cream Liqueurs,305,Mhw LTD,73055,Rumchata,12,750,13.50,20.25,3,60.75,2.25,0.59,"4804 S Highway 61, Muscatine, IA, 52761"
1,33190700004,2021-01-04,5650,The Depot Williamsburg,103 Highland St,Williamsburg,52361,48,IOWA,1012100,Canadian Whiskies,260,DIAGEO AMERICAS,10803,Crown Royal Regal Apple Mini,10,50,7.35,11.03,4,44.12,0.20,0.05,"103 Highland St, Williamsburg, IA, 52361"
2,33169600155,2021-01-04,2528,Hy-Vee Food Store #3 / Des Moines,3221 SE 14th St,Des Moines,50315,77,POLK,1022200,100% Agave Tequila,255,Infinium Spirits,89242,Corralejo Reposado,6,750,16.00,24.00,6,144.00,4.50,1.18,"3221 SE 14th St, Des Moines, IA, 50315"
3,33174300034,2021-01-04,5347,Kum & Go #1097 / 50th WDM,220 50th St,West Des Moines,50265,77,POLK,1012100,Canadian Whiskies,259,Heaven Hill Brands,11771,Black Velvet Mini,8,50,8.50,12.75,3,38.25,0.15,0.03,"220 50th St, West Des Moines, IA, 50265"
4,33194400030,2021-01-04,4070,Grieder Beverage Depot,708 13th St,Belle Plaine,52208,6,BENTON,1051100,American Brandies,434,LUXCO INC,54448,Paramount Apricot Brandy,6,1750,11.29,16.94,3,50.82,5.25,1.38,"708 13th St, Belle Plaine, IA, 52208"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616454,35472700003,2021-03-31,2601,Hy-Vee Food Store / Fairfield,1300 West Burlington Ave,Fairfield,52556,51,JEFFERSON,1071100,Cocktails /RTD,55,SAZERAC NORTH AMERICA,57181,Chi-Chi''s Pineapple Margarita,6,1750,6.50,9.75,30,247.50,52.50,13.86,"1300 West Burlington Ave, Fairfield, IA, 52556"
616455,35474700004,2021-03-31,2191,Keokuk Spirits,1013 Main,Keokuk,52632,56,LEE,1011100,Blended Whiskies,260,DIAGEO AMERICAS,25607,Seagrams 7 Crown,12,1000,8.00,12.00,12,144.00,12.00,3.17,"1013 Main, Keokuk, IA, 52632"
616456,35479400087,2021-03-31,2605,Hy-Vee Drugstore #5 / Cedar Rapids,2001 Blairs Ferry Road NE,Cedar Rapids,52402,57,LINN,1082200,Imported Schnapps,421,SAZERAC COMPANY INC,69634,Dr McGillicuddys Cherry,24,375,5.33,8.00,6,48.00,2.25,0.59,"2001 Blairs Ferry Road NE, Cedar Rapids, IA, 5..."
616457,35471400006,2021-03-31,4315,Fareway Stores #554 / Washington,301 North Marion Ave,Washington,52353,92,WASHINGTON,1011200,Straight Bourbon Whiskies,184,FOUR ROSES DISTILLERY,18352,Four Roses Bourbon,12,750,12.50,18.75,12,213.12,9.00,2.37,"301 North Marion Ave, Washington, IA, 52353"
616458,35476900009,2021-03-31,5559,W-Mart,1205 & 1207 E Locust St,Davenport,52803,82,SCOTT,1041100,American Dry Gins,370,PERNOD RICARD USA,32232,Seagrams Extra Dry Gin,48,100,0.97,1.46,48,70.08,4.80,1.26,"1205 & 1207 E Locust St, Davenport, IA, 52803"

In [13]:
#5. Show filtered value_counts for Item_Description
df_iowa[((df_iowa.State_Bottle_Retail - df_iowa.State_Bottle_Cost) > 10) & 
        (df_iowa.Item_Description.str.contains('Vodka'))].Item_Description.value_counts()

Crystal Head Vodka                           119
Belvedere Pure Vodka                          70
Blue Ox Vodka Mini                            59
Crystal Head Aurora Vodka                     45
Figenza Mediterranean Fig Vodka               34
Crystal Head  Pride Bottle Vodka              22
E.T.51 Premium Vodka Mini                      4
45th Parallel Vodka                            3
Okoboji Vodka                                  3
Beluga Gold Line Vodka                         2
Deep   Eddy  Vodka Mini                        1
Neft Vodka Black                               1
AO Vodka                                       1
Neft Vodka White                               1
OYO Stone Fruit Vodka                          1
Double Cross Vodka                             1
Polugar No. 2 Garlic & Pepper Vodka 750ml      1
Platinum 7X Vodka Candy Cane                   1
Name: Item_Description, dtype: int64

In [14]:
#6. Create Insight of your own
df_iowa.Vendor_Name.value_counts()

DIAGEO AMERICAS                97240
SAZERAC COMPANY  INC           60403
Jim Beam Brands                52285
Heaven Hill Brands             48944
LUXCO INC                      44536
                               ...
Cutwater Spirits LLC               1
Sagamore Whiskey, LLC              1
PACIFIC EDGE WINE & SPIRITS        1
Shand Import LLC                   1
B. T. O. Distillers LLC            1
Name: Vendor_Name, Length: 162, dtype: int64

First we wanted to get insight about the vendors that are supplying the product. We can see that the top 5 suppliers are Diageo Americas, Sazerac Comapny Inc., Jim Beam Brands, Heaven Hill Brands, and Luxco Inc.

In [15]:
df_iowa.groupby('Vendor_Name')['Sales'].sum().sort_values(ascending = False)

Vendor_Name
DIAGEO AMERICAS                             19017847.30
SAZERAC COMPANY  INC                         9888270.19
Jim Beam Brands                              7073950.63
Heaven Hill Brands                           6463081.68
PERNOD RICARD USA                            6271632.06
                                               ...
Restless Spirits Distilling Company, LLC         217.40
Highclere Castle Spirits                         208.44
Cutwater Spirits LLC                             198.00
INTERNATIONAL TRADE ONE CORP                     180.00
Seven Jars Distillery, LLC                        65.70
Name: Sales, Length: 162, dtype: float64

Next we wanted to get an idea of how much sales are atributed to these suppliers. It seems to be the same top 5 suppliers with the exception fo Pernod Ricard USA replacing Luxco for 5th place. Although Luxco sells more units, Pernod Ricard has a higher value of sales in dollars.

In [16]:
retail_mean = df_iowa.groupby('Item_Description').State_Bottle_Retail.mean()
cost_mean = df_iowa.groupby('Item_Description').State_Bottle_Cost.mean()
bottles_sold = df_iowa.groupby('Item_Description').Bottles_Sold.sum()
((retail_mean - cost_mean)*bottles_sold).sort_values(ascending = False)

Item_Description
Fireball Cinnamon Whiskey             2.071930e+06
Titos Handmade Vodka                  1.491175e+06
Black Velvet                          9.212616e+05
Captain Morgan Original Spiced        8.172418e+05
Crown Royal                           7.976567e+05
                                          ...
Jim Beam Black with Glasses           6.750000e+00
Bols Melon                            5.420000e+00
SOOH Margaritaville Silver Tequila    3.920000e+00
Wheatley Vodka Mini                   2.150000e+00
Rich & Rare Apple Mini               -6.375720e+03
Length: 2569, dtype: float64

Here we attempted to find the profit of each specific liquor, but there seemed to be a discrepancy in our findings. 
We took the mean of the retail cost subtracted by the mean of the selling price and multiplied it by the total units sold. 
The problem is that we got a higher value for profit than the actual amount of sales. Futher analysis was needed to find the error in this calculation.

In [17]:
df_iowa[df_iowa.Item_Description == 'Fireball Cinnamon Whiskey'].State_Bottle_Cost.value_counts()

0.90     4199
9.00     2690
15.33    1665
11.34    1500
2.50     1195
Name: State_Bottle_Cost, dtype: int64

In [18]:
df_iowa[df_iowa.Item_Description == 'Fireball Cinnamon Whiskey'].State_Bottle_Retail.value_counts()

1.35     4199
13.50    2690
23.00    1665
17.01    1500
3.75     1195
Name: State_Bottle_Retail, dtype: int64

By taking a closer look at the data, we realized that the grouping of Item_Description was not enough to be a determinate to calculate profit. We used Fireball as a test Item to see what the differant price points could be. At first we were under the impression that the stores could provide discounts from vendors for buying in bulk or could incentivise consumers to buy a certain products with deals. When we saw the results of the value_counts function, it seemed like there was too much of a spread in price. At this moment we realized that differant items can come in differant sizes. We went back to the data frame to look for other columns to dig deeper into.

In [19]:
df_iowa[df_iowa.Item_Description == 'Fireball Cinnamon Whiskey']['Volume_ml'].value_counts()

100     4199
750     2690
1750    1665
1000    1500
200     1195
Name: Volume_ml, dtype: int64

We decided to take a look at the Bottle_Volume_(mL) column while still filtering our search with fireball. We determind that there were multiple differant sized containers which would explain the spread in price.

In [20]:
df_iowa[df_iowa.Item_Description == 'Fireball Cinnamon Whiskey'].groupby(['Item_Description','Volume_ml']).State_Bottle_Retail.value_counts()

Item_Description           Volume_ml  State_Bottle_Retail
Fireball Cinnamon Whiskey  100        1.35                   4199
                           200        3.75                   1195
                           750        13.50                  2690
                           1000       17.01                  1500
                           1750       23.00                  1665
Name: State_Bottle_Retail, dtype: int64

Here we expanded our grouping to Bottle_Volume_(ml) alongside Item_Description. We are now able to get a view of the variables that will give us a more accurate calculation. We decided to see if we could get a dataframe with more columns to describe the data.

In [21]:
group = df_iowa.groupby(['Item_Description','Volume_ml','State_Bottle_Cost', 'State_Bottle_Retail', 'Vendor_Name'])
retail= group.State_Bottle_Retail.mean()
cost= group.State_Bottle_Cost.mean()
bottles_sold = group.Bottles_Sold.sum()
df_profit = ((retail - cost)*bottles_sold).sort_values(ascending = False).reset_index()
df_profit

,Item_Description,Volume_ml,State_Bottle_Cost,State_Bottle_Retail,Vendor_Name,0
0,Black Velvet,1750,10.45,15.68,Heaven Hill Brands,641062.02
1,Titos Handmade Vodka,1750,19.00,28.50,FIFTH GENERATION INC,616968.00
2,Crown Royal Peach,750,16.59,24.89,DIAGEO AMERICAS,524667.90
3,Titos Handmade Vodka,1000,12.67,19.01,FIFTH GENERATION INC,459054.04
4,Titos Handmade Vodka,750,10.00,15.00,FIFTH GENERATION INC,416330.00
...,...,...,...,...,...,...
3391,Jim Beam Black with Glasses,750,13.50,20.25,Jim Beam Brands,6.75
3392,Bols Melon,750,5.42,8.13,Mhw LTD,5.42
3393,SOOH Margaritaville Silver Tequila,1000,7.84,11.76,Gemini Spirits,3.92
3394,Wheatley Vodka Mini,50,4.30,6.45,SAZERAC COMPANY INC,2.15
3395,Rich & Rare Apple Mini,50,60.00,7.74,SAZERAC COMPANY INC,-6375.72

By grouping Item_Description, Bottle_Volume_(mL), State_Bottle_Cost, State_Bottle_Retail, Vendor_Name we were able to show all variables that lead to the desired outcome, which is profit per Item. The issue is the name of the column calculated, which is currently named 0. We need to rename this column.

In [22]:
df_profit.rename(columns = {0:'Profit'}, inplace = True)
df_profit

,Item_Description,Volume_ml,State_Bottle_Cost,State_Bottle_Retail,Vendor_Name,Profit
0,Black Velvet,1750,10.45,15.68,Heaven Hill Brands,641062.02
1,Titos Handmade Vodka,1750,19.00,28.50,FIFTH GENERATION INC,616968.00
2,Crown Royal Peach,750,16.59,24.89,DIAGEO AMERICAS,524667.90
3,Titos Handmade Vodka,1000,12.67,19.01,FIFTH GENERATION INC,459054.04
4,Titos Handmade Vodka,750,10.00,15.00,FIFTH GENERATION INC,416330.00
...,...,...,...,...,...,...
3391,Jim Beam Black with Glasses,750,13.50,20.25,Jim Beam Brands,6.75
3392,Bols Melon,750,5.42,8.13,Mhw LTD,5.42
3393,SOOH Margaritaville Silver Tequila,1000,7.84,11.76,Gemini Spirits,3.92
3394,Wheatley Vodka Mini,50,4.30,6.45,SAZERAC COMPANY INC,2.15
3395,Rich & Rare Apple Mini,50,60.00,7.74,SAZERAC COMPANY INC,-6375.72

In this line of code we renamed the calculated column of 0 to Proft, which is a more accurate name for the new column. We then assingend this data frame to a new name variable name df_profit to preform more calculations

In [23]:
df_profit.groupby('Item_Description').Profit.sum().sort_values(ascending = False)

Item_Description
Titos Handmade Vodka                  1569573.02
Black Velvet                           929572.62
Captain Morgan Original Spiced         827373.27
Crown Royal                            773662.65
Fireball Cinnamon Whiskey              738579.71
                                         ...
Jim Beam Black with Glasses                 6.75
Bols Melon                                  5.42
SOOH Margaritaville Silver Tequila          3.92
Wheatley Vodka Mini                         2.15
Rich & Rare Apple Mini                  -6375.72
Name: Profit, Length: 2566, dtype: float64

We can see that Titos is the most profitable product.

In [24]:
df_profit.groupby('Vendor_Name').Profit.sum().sort_values(ascending = False)

Vendor_Name
DIAGEO AMERICAS                             6363689.95
SAZERAC COMPANY  INC                        3291114.13
Jim Beam Brands                             2358466.84
Heaven Hill Brands                          2158879.69
PERNOD RICARD USA                           2091746.16
                                               ...
Restless Spirits Distilling Company, LLC         72.50
Highclere Castle Spirits                         69.48
Cutwater Spirits LLC                             66.00
INTERNATIONAL TRADE ONE CORP                     60.00
Seven Jars Distillery, LLC                       21.90
Name: Profit, Length: 162, dtype: float64

Diageo Americas is the most proitable vendor.

In [25]:
df_profit.Profit.sum()

31700953.380000003

Total profit is 31.7 Mil

In [26]:
# 7. Save as a pickle
df_iowa.to_pickle('df_iowa.pickle')
df_profit.to_pickle('df_profit.pickle')